/* Estilo geral para a página Home */
.empresas-img1 {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #000000;
}

.empresas-Container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F2E0F7;
  padding: 20px;
}

.empresas-Container1 .title {
  margin: 30px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #000;
}

.empresas-Container1 .subTitle {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  font-weight: normal;
  margin: 30px 0;
  color: #333;
}

.empresas-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Três colunas */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 20px;
  background-color: #F2E0F7;
}

.empresas-itensCont2 {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.empresas-itensCont2:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.empresas-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.empresas-itensCont2 img {
  width: 200px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.empresas-itensCont2 p {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .empresas-container2 {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas médias */
  }
}

@media (max-width: 768px) {
  .empresas-container2 {
    grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
  }

  .empresas-title {
    font-size: 1.2rem;
  }

  .empresas-itensCont2 img {
    width: 80px;
  }
}
